Login   
<form id="login-form" onsubmit="return submitlogin(event);">
    <div>
        <label for="email">email: </label>
        <input type="text" id="email" name="email">
    </div>
    <div>
        <label for="password">Número: </label>
        <input type="text" id="password" name="password">
    </div>
    <button type="submit">Agregar</button>
</form>
<script src="/js/login.js"></script>